[Desktop Entry]
Encoding=UTF-8
Name=Link to treasure_quest.sql
Type=Link
URL=https://cdn.discordapp.com/attachments/705000309918793728/705062519701635112/treasure_quest.sql
Icon=application-x-sql
