{% extends 'layout.html.twig' %}

{% block content %}
    <div class="help">
        <h2> Bienvenue sur Treasure Quest !</h2>
            <h3> A propos</h3>
                <ul>
                    <li>
                    En ces temps de confinement, Tresure Quest a été conçu pour vous faire
                    découvrir le monde et tester vos connaissances depuis votre canapé!
                    </li>
                </ul>
            <h3> Règles du jeu</h3>
                <ul>
                    <li>Votre objectif est de retrouver des monuments à travers le monde,
                        via les webcams en temps réel mis à votre disposition.</li>
                    <li>Vous avez le droit en premier lieu à un indice.
                        Deux autres indices peuvent être affichés, mais attention,
                        cela vous fait perdre des points !</li>
                    <li>Si vous pensez connaître la réponse,
                        tapez dans la recherche le nom de la ville où ce situe le monument décrit.</li>
                    <li>Cherchez le monument dans les webcams proposés, et quand vous le trouver,
                        cliquez sur le bouton check en-dessous de l'image.</li>
                    <li>Si c'est la bonne réponse, vous passez au prochain monument.</li>
                    <li>Sinon, vous pouvez afficher un autre indice, ou s'il n'y en a plus,
                        tenter une nouvelle recherche !</li>
                </ul>
            <h3> GLHF ;)</h3>
    </div>
{% endblock %}