{% extends 'layout.html.twig' %}

{% block content %}
    <div class="help">
        <h2> Bienvenue sur Treasure Quest !</h2>
            <h3> A propos</h3>
                <ul>
                    <li>
                    En ces temps de confinement, Tresure Quest a été conçu pour te faire
                    découvrir le monde et tester tes connaissances depuis ton canapé!
                    </li>
                </ul>
            <h3> Règles du jeu</h3>
                <ul>
                    <li>Ton objectif est de retrouver des monuments à travers le monde,
                        via les webcams en temps réel mis à votre disposition.</li>
                    <li>Tu as le droit en premier lieu à un indice.
                        Deux autres indices peuvent être affichés, mais attention,
                        cela te fait perdre des points !</li>
                    <li>Si tu penses connaître la réponse,
                        tape dans la recherche le nom de la ville où se situe le monument décrit.</li>
                    <li>Cherche le monument dans les webcams proposées, et quand tu le trouves,
                        clique sur le bouton check en-dessous de l'image.</li>
                    <li>Si c'est la bonne réponse, tu peux passer au prochain monument.</li>
                    <li>Sinon, tu peux afficher un autre indice, ou s'il n'y en a plus,
                        tenter une nouvelle recherche !</li>
                </ul>
            <h3> GLHF ;)</h3>
    </div>
{% endblock %}