{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="row">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">High Score</th>
            </tr>
        </thead>
        <tr>
            {% for user in users|slice(0, 10) %}
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.user_name }}</td>
            <td>{{ user.user_score }}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}