{% extends 'layout.html.twig' %}

{% block content %}
    <form class="form-home" method="POST">
        <div class="form-group form-username">
            <input type="text" class="form-control" id="username" name="username" placeholder="Entre ton pseudo">
        </div>
        <button type="submit" class="btn btn-home"><i class="fas fa-play" style="color: forestgreen;"></i></button>
    </form>

    <a href="/user/show">Voir les meilleurs scores</a>
{% endblock %}
