{% extends 'layout.html.twig' %}

{% block content %}
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Pseudo">
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
{% endblock %}
