{% extends 'layout.html.twig' %}

{% block content %}
    {% for quest in quests %}
        <div class="card">
            <h5 class="card-title">{{ quest.quest_title }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ quest.quest_clue01 }}</li>
                <li class="list-group-item">{{ quest.quest_clue02 }}</li>
                <li class="list-group-item">{{ quest.quest_clue03 }}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}